.container {
  padding: 0 0.5rem;
  max-width: 700px;
  margin: 0 auto;
}

.main {
  flex: 1;
}

.footer {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  color:rgb(42, 161, 152);
}

.title {
  margin: 1rem;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  margin: 20px auto;
  border-radius: 10px;
  border: 0.5px solid lightgray;
  font-size: 1.2rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.form {
  display: block;
  margin: 20px auto;
}

.form input, .form button {
  display: block;
  width: 100%;
  border: 0.5px solid gray;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.form button:hover {
  background-color: #0070f3;
  color: white;
  transition: ease-in-out 0.2s;
}
